body{
    margin: 0;
    padding: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 5px 40px;
    flex-wrap: wrap;

}
.logo{
    font-size: 24px;
    color: #1F2937;
    font: 'Roboto';
    border-radius: 50%;
    font-size: 35px;
    font-weight: bolder;
    font-style: italic;
    background-color: #f9faf8;
    width: 35px;
    text-align: center;
}
.page-title{
    color: #f9faf8;
    font-size: 40px;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}
.signup-button{
    background-color: #3882f6;
    color: white;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    height: auto;
    width: 100px;
    font-weight: bold;
    font-family: 'Roboto';
    border: solid #1F2937 1px; 

}
.hero{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}
.herotext{
    margin: 45px;
    padding: 45px;
    max-width: 450px;

}
.maintext{
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 10px;
    font-family: 'Roboto';
}
.sec-text{
    color: #e5e7eb;
    font-size: 18px;
    margin: 10px;
    font-family: 'Roboto';
}
button{
    background-color: #3882f6;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 15px;
    height: auto;
    width: 120px;
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Roboto';
    border: solid #1F2937 1px;   
}
img{
    width: 500px;
    height: auto;
    align-self: center;
    margin-right: 100px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

.box-container-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 5px;
    flex-wrap: wrap;
}

.bbox{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 200px;
}
.box{
    width: 150px;
    height: 150px;
    /*border: solid #3882f6 4px;*/
    border-radius: 10px;
}
.text{
    color: #1F2937;
    text-align: center;
}

.icons{
    width: 140px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-section{
    margin: 20px;
}
.quote-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
}
.q-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    padding: 10px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    align-self: center;
    max-width: 890px;
    margin-top: 10px;
    padding: 30px;
}
.author{
    align-self: flex-end;
    margin-right: 150px;
    font-size: 20px;
    margin-bottom: 50px;
}

.cta-container{
    padding: 80px;
}
.cta-box{
    display: flex;
    background:#3882f6;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 1000px;
    height: 100px;
    margin: 10px;
}

.cta-maintext{
    font-size: 30px;
    color: white;
    font-weight: bold;
    margin: 5px;
}
.cta-subtext{
    font-size: 18px;
    color: white;
}
.cta-button{
    border-radius: 10px;
    border: solid white 2px;
    font-weight: bolder;
    font-size: 15px;
    margin: 10px;
    align-self: center;
}
.footer-container{
    background-color: #1F2937;
    color: #f9faf8;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    font-size: 18px;
    font-weight: bold;
}